<!-- <div class="flex h-screen bg-gray-50 dark:bg-gray-900">
  <app-sidebar></app-sidebar>
  <div class="flex flex-col w-full overflow-hidden">
    <app-header></app-header>
    <main class="flex-1 overflow-y-auto">
      <div class="container px-6 mx-auto">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
          Dashboard
        </h2>
  <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div> -->

<div class="flex-1 overflow-y-auto">

  <router-outlet></router-outlet>
  </div>
