<br>
<br>
<div class="container mx-auto">
  <div class="flex items-center justify-between p-4 bg-purple-600">
    <h1 class="text-2xl font-semibold text-white">Tâches Assignées</h1>
    <a class="text-sm font-semibold text-purple-100 flex items-center" routerLink="/ui/chatBox" style="text-decoration: none;">
      <i class="fas fa-comments mr-2 text-lg"></i>
      <span class="ml-1">Communiquer avec le groupe</span>
    </a>
  </div>



<br>





  <!-- With actions -->
  <div class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300 flex items-center justify-between px-4">
    <span>Toutes les Taches</span>
    <div class="ml-4" *ngIf="loggedInUser.ajouteTask">
      <button
        class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
        routerLink="/ui/list/add"
      >
        Ajouter Tache
        <span class="ml-2" aria-hidden="true">+</span>
      </button>
    </div>

  </div>
  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">

  <table class="w-full whitespace-no-wrap">

    <thead>
      <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
        <th class="px-4 py-3">utilisateur</th>
        <th class="px-4 py-3">Titre</th>
        <th class="px-4 py-3">Description</th>
        <th class="px-4 py-3">Date de debut</th>
        <th class="px-4 py-3">Date d'échéance</th>
        <th class="px-4 py-3">Status</th>
        <th class="px-4 py-3">Priorité</th>
        <th class="px-4 py-3" *ngIf="hasPermissions()">Actions</th>

      </tr>
    </thead>
    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
      <tr
      class="text-gray-700 dark:text-gray-400"
      *ngFor="let task of assignedTasks"
      >
      <td class="px-4 py-3" *ngIf="loggedInUser">
        <div class="flex items-center text-sm">
          <!-- Avatar with inset shadow -->
          <div
            class="relative hidden w-8 h-8 mr-3 rounded-full md:block"
          >
            <img
            *ngIf="loggedInUser.profileImage"
              class="object-cover w-full h-full rounded-full"
              [src]="loggedInUser.profileImage | base64ToSafeUrl"
              alt=""
              loading="lazy"
            />
            <div
              class="absolute inset-0 rounded-full shadow-inner"
              aria-hidden="true"
            ></div>
          </div>
          <div >
            <p class="font-semibold">{{ loggedInUser.name }}</p>
            <p class="text-xs text-gray-600 dark:text-gray-400">{{ loggedInUser.email }}</p>
          </div>
        </div>
      </td>
        <td class="px-4 py-3 text-sm">{{task.title}}</td>
        <td class="px-4 py-3 text-sm">{{ task.description }}</td>

        <td class="px-4 py-3 text-sm">{{ task.creationDateTime | date: 'dd/MM/yyyy'}}</td>
        <td class="px-4 py-3 text-sm">{{ task.dueDateTime | date: 'dd/MM/yyyy'}}</td>

        <td class="px-4 py-3">
          <select [(ngModel)]="task.status" (change)="updateTaskStatus(task.id, task.status)"
            [ngClass]="{
              'text-gray-500': task.status === 'TO_DO',
              'text-yellow-500': task.status === 'IN_PROGRESS',
              'text-green-500': task.status === 'DONE',
              'text-red-500': task.status === 'BLOCKED'
            }">
            <option value="TO_DO" [ngClass]="'text-gray-500'">A Faire</option>
            <option value="IN_PROGRESS" [ngClass]="'text-yellow-500'">En Cours</option>
            <option value="DONE" [ngClass]="'text-green-500'">Terminée</option>
            <option value="BLOCKED" [ngClass]="'text-red-500'">Bloquée</option>
          </select>
        </td>


        <td class="px-4 py-3">
          <span *ngIf="task.priority === 'high'" class="text-red-500">Haute</span>
          <span *ngIf="task.priority === 'medium'" class="text-yellow-500">Moyenne</span>
          <span *ngIf="task.priority === 'low'" class="text-green-500">Basse</span>
        </td>
<td class="py-2 px-4">
  <div class="flex items-center space-x-4 text-sm">
    <button
            class="text-purple-600 hover:text-purple-800"
            *ngIf="hasPermissions()" (click)="editTask(task.id)"
          >
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
              ></path>
            </svg>
          </button>
          <button
          *ngIf="loggedInUser.supprimeTask"
          class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
          aria-label="Delete"
          (click)="openDeleteModal(task.id)"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              fill-rule="evenodd"
              d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <app-delete-confirmation-tak-modal
        *ngIf="isModalOpen"
        (confirmed)="confirmModal()"
        (cancelled)="cancelModal()"
      ></app-delete-confirmation-tak-modal>

</div>
</td>
      </tr>
    </tbody>
  </table>
</div>
  <div
  class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800"
>

  <span class="col-span-2"></span>
  <!-- Pagination -->
  <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">

  </span>
</div>
</div>
</div>


